
body {
  background-color: #fff;
  color: black;
  font-family: Helvetica Neue;
  margin: 0;
}

.pagesection {
    margin: 0;
    padding: 1px;
}

.pagesection.top {
	background-color: #285f8a;
}
.pagesection.middle {
	background-color: #5b5f69;
	min-height: 50px;
}

.pagesection.content {
	background-color: white;
	min-height:800px;
}

.pagesection.footer {
	background-color: #5b5f69;
}

.container {
	max-width: 800px;
	margin: auto;
	min-height: 50px;
}

container.login {
}

.banner {
	display: flex;
	margin: 50px auto;
	.featureimage {
		min-width: 200px;
		max-width: 400px;
		min-height: 200px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	.featurecontent {
		margin: 50px;
		flex-grow: 1;
		 display: flex;
		 flex-direction: column;
  justify-content: center;
	}
	h1 {
	    font-weight: 100;
	    font-size: 50pt;
	    margin: 0;
	}
	h2 {
		color: white;
	    font-weight: 100;
	    font-size: 14pt;
	    margin-top: 0;
	}
}


.boxes {
	display: flex;
    margin: 20px auto;
   	.contentbox {
		flex-grow: 1;
		width: 33%;
		border: 1px solid #ccc;
		margin: 5px;
		img {
			width: 50px;
		}
	}
}


.fixedheader {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #ccc;
}

.fixedfooter {
	position:fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #ccc;
}
.pagebody {
	padding: 50px 0px;
}

.signupform {
	margin: 10px 0;
	.flash {
	    background-color: #fafbdd;
	    border: 1px solid #e1e2b8;
	    padding: 10px;
    }
	.main {
		margin: 10px -10px;
		display: flex;
		flex-wrap: wrap;
	}
	.box {
		width:300px;
		flex-grow:1;
		flex-shrink: 1;
		border: 1px solid #ccc;
		margin:10px;
		padding: 10px;
		min-width: 300px;
	}
	form {
	}
	input {
		display: block;
		width: 100%;
		font-size: 14pt;
		box-sizing: border-box;
		padding: 10px;
		margin: 10px 0;
	}

	button {
		width: 100%;
		font-size: 14pt;
		box-sizing: border-box;
		padding: 10px;
		margin: 10px 0;
	}

	a.social {
		display: block;
		border: 1px solid #ccc;
		margin: 10px;
		padding-left: 60px;
		height: 50px;
		text-decoration: none;
		line-height: 50px;
	}
}
