<div class="pagesection top">
	<div class="container banner">
		<div class="featureimage"></div>
		<div class="featurecontent">
			<h1><%= site.title %></h1>
			<h2><%= site.tagline %></h2>
		</div>
	</div>
</div>

<div class="pagesection middle">
	<div class="container login">
		Not logged in - <a href="/auth/login">Login</a>
	</div>
</div>

<div class="pagesection content">
	<div class="container boxes">
		<div class="contentbox">
			<img src="icon-page.png">
		</div>
		<div class="contentbox">
			<img src="icon-page.png">
		</div>
		<div class="contentbox">
			<img src="icon-page.png">
		</div>
	</div>
	<div class="container body">

	</div>
</div>

<div class="pagesection footer">
	<div class="container">
		Footer here
	</div>
</div>