
<div id="app"></div>
<script>
    function loadScript(url, callback) {
        var s = document.createElement('script');
        s.setAttribute('src', url);
        if (callback) s.onload = callback;
        document.head.appendChild(s);
    }


if (!window.fetch) {
    loadScript("fetch.js", function() {
        loadScript("placeholder.js");
    });
} else {
    loadScript("placeholder.js");
}

</script>


