<div class="fixedheader">
<div class="container">
    <a class="logo" href="/">Logo</a>
    <div class="title"><%= site.title %></div>
    <div class="tagline"><%= site.tagline %></div>
</div>
</div>
<div class="pagebody">
<div class="container">
    <% include signupform.ejs %>
</div>
</div>
<div class="fixedfooter">
<div class="container">
</div>
</div>