<div class="fixedheader">
<div class="container">
            <a href="/">Home</a>
</div>
</div>
<div class="pagebody">
<div class="container">
    <% include signupform.ejs %>
</div>
</div>
<div class="fixedfooter">
<div class="container">
            <a href="/">Home</a>
</div>
</div>