
<div id="app"></div>
<script>
    function loadScript(url, callback) {
        var s = document.createElement('script');
        s.setAttribute('src', url);
        if (callback) s.onload = callback;
        document.head.appendChild(s);
    }

if (!window.fetch) {
    loadScript("fetch.js", function() {
        loadScript("/socket.io/socket.io.js")
        loadScript("app.js");
    });
} else {
    loadScript("/socket.io/socket.io.js")
    loadScript("app.js");
}


</script>


